.marquee-container {
    width: 100%;
    overflow: hidden;
}
.marquee-container:hover .marquee-track {
    animation-play-state: paused;
}
.marquee-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
.marquee-track {
    display: flex;
    animation: scroll-loop 30s linear infinite;
    animation-play-state: running;
}

.marquee-group {
    display: flex;
    gap: 16px;
    margin: 0 20px 20px;
}

.marquee-item {
    flex: 0 0 auto;
    width: 256px;
    height: 51px;
    font-size: 12px;
    background: rgba(254, 245, 232, 1);
    border-radius: 8px;
    color: rgba(51, 51, 51, 1);
    line-height: 130%;

    display: flex;
    align-items: center;
    padding: 0 15px;

    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

@keyframes scroll-loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100vw);
    }
}
